FUENTE: https://www.kaggle.com/datasets/paramvir705/supermarket-sales?resource=download

In [13]:
import pandas as pd

# URL del dataset
url = "supermarket_sales.csv"

# Cargar dataset
df = pd.read_csv(url)

# Mostrar primeras filas
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [14]:
# Dimensiones del dataset
print("Filas y columnas:", df.shape)

# Tipos de datos
df.info()

Filas y columnas: (1000, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [15]:
# Convertir columnas de fecha y hora
df["Date"] = pd.to_datetime(df["Date"])
df["Time"] = pd.to_datetime(df["Time"]).dt.time

# Crear columna Año-Mes (para análisis temporal)
df["YearMonth"] = df["Date"].dt.to_period("M")

/tmp/ipykernel_16616/2482470503.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Time"] = pd.to_datetime(df["Time"]).dt.time

In [16]:
df.describe(include="all")

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,YearMonth
count,1000,1000,1000,1000,1000,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000,1000,1000,1000.00000,1000.000000,1000.000000,1000.00000,1000
unique,1000,3,3,2,2,6,NaN,NaN,NaN,NaN,NaN,506,3,NaN,NaN,NaN,NaN,3
top,750-67-8428,A,Yangon,Member,Female,Fashion accessories,NaN,NaN,NaN,NaN,NaN,19:48:00,Ewallet,NaN,NaN,NaN,NaN,2019-01
freq,1,340,340,501,501,178,NaN,NaN,NaN,NaN,NaN,7,345,NaN,NaN,NaN,NaN,352
mean,NaN,NaN,NaN,NaN,NaN,NaN,55.672130,5.510000,15.379369,322.966749,2019-02-14 00:05:45.600000,NaN,NaN,307.58738,4.761905,15.379369,6.97270,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,10.080000,1.000000,0.508500,10.678500,2019-01-01 00:00:00,NaN,NaN,10.17000,4.761905,0.508500,4.00000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,32.875000,3.000000,5.924875,124.422375,2019-01-24 00:00:00,NaN,NaN,118.49750,4.761905,5.924875,5.50000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,55.230000,5.000000,12.088000,253.848000,2019-02-13 00:00:00,NaN,NaN,241.76000,4.761905,12.088000,7.00000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,77.935000,8.000000,22.445250,471.350250,2019-03-08 00:00:00,NaN,NaN,448.90500,4.761905,22.445250,8.50000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,99.960000,10.000000,49.650000,1042.650000,2019-03-30 00:00:00,NaN,NaN,993.00000,4.761905,49.650000,10.00000,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,26.494628,2.923431,11.708825,245.885335,NaN,NaN,NaN,234.17651,0.000000,11.708825,1.71858,NaN

In [17]:
# Asegurar que Date ya está en datetime (en tu caso ya está OK)
# df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d")

# Convertir Time correctamente a formato hora
df["Time"] = pd.to_datetime(df["Time"], format="%H:%M:%S").dt.time

# Crear campos derivados
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Day"] = df["Date"].dt.day
df["Hour"] = pd.to_datetime(df["Time"], format="%H:%M:%S").dt.hour

In [18]:
# Asegurar conversión correcta de Time
df["Time"] = pd.to_datetime(df["Time"], format="%H:%M:%S").dt.time

# -----------------------------
# CAMPOS BÁSICOS
# -----------------------------
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Day"] = df["Date"].dt.day
df["Hour"] = pd.to_datetime(df["Time"], format="%H:%M:%S").dt.hour

# -----------------------------
# CAMPOS AVANZADOS
# -----------------------------

# Día de la semana (0=lunes, 6=domingo)
df["Weekday"] = df["Date"].dt.weekday

# Nombre del día
df["Weekday_Name"] = df["Date"].dt.day_name()

# Nombre del mes
df["Month_Name"] = df["Date"].dt.month_name()

# Trimestre (1, 2, 3, 4)
df["Quarter"] = df["Date"].dt.quarter

# Año-Mes en formato “YYYY-MM”
df["YearMonth"] = df["Date"].dt.to_period("M")

# Franja horaria
def franja_horaria(h):
    if 6 <= h < 12:
        return "Mañana"
    elif 12 <= h < 18:
        return "Tarde"
    elif 18 <= h < 24:
        return "Noche"
    else:
        return "Madrugada"

df["Time_Block"] = df["Hour"].apply(franja_horaria)

In [19]:
# Top 3 product lines por facturación total
top3_product_lines = (
    df.groupby("Product line")["Total"]
      .sum()
      .sort_values(ascending=False)
      .head(3)
)

top3_product_lines

Product line
Food and beverages        56144.8440
Sports and travel         55122.8265
Electronic accessories    54337.5315
Name: Total, dtype: float64

In [20]:
# Facturación por ciudad
facturacion_ciudad = (
    df.groupby("City")["Total"]
      .sum()
      .sort_values(ascending=False)
)

facturacion_ciudad

City
Naypyitaw    110568.7065
Yangon       106200.3705
Mandalay     106197.6720
Name: Total, dtype: float64

In [21]:
# Ticket promedio = promedio del total de cada invoice
ticket_promedio = df["Total"].mean()
ticket_promedio

np.float64(322.966749)

In [22]:
# Curva mensual de ventas
curva_mensual = (
    df.groupby("YearMonth")["Total"]
      .sum()
      .sort_values()
)

curva_mensual

YearMonth
2019-02     97219.374
2019-03    109455.507
2019-01    116291.868
Freq: M, Name: Total, dtype: float64

In [23]:
df.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
YearMonth                  0
Year                       0
Month                      0
Day                        0
Hour                       0
Weekday                    0
Weekday_Name               0
Month_Name                 0
Quarter                    0
Time_Block                 0
dtype: int64